 deny unknown-clients;
 option dhcp-max-message-size 2048; 
 use-host-decl-names on;
 
 subnet 192.168.2.0 netmask 255.255.255.0 {
 option routers 192.168.2.1;
 ;option domain-name "<domainName>";
 option domain-name-servers 8.8.8.8;
 option time-servers 192.168.2.1;
 option ntp-servers 192.168.2.1;
 server-name faiserver;
 next-server faiserver;
 filename "pxelinux.0";
 }
 
 host demohost {{{ ansible_facts.eth0.macaddress  }};fixed-address {{ ansible_facts.eth0.ipv4.address }};}
